html, body, #app, wf-roboto-n1-active wf-roboto-n3-active wf-roboto-n4-active wf-roboto-n5-active wf-roboto-n7-active wf-active {
  background-color: #021E2C;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}