.resume-builder {
    display: flex;
  }
  
  .resume-sidebar {
    background-color: #021e2cff;
    padding-top: 40px;
    padding-left: 90px;
    color: #ffffff;
  }
  
  .title-section {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .title-label {
    font-size: 26px; 
  }
  
  .title-input {
    border: none;
    background-color: #ffffff;
    color: #1c1b1fff;
    border-radius: 4px;
    margin-left: 20px;
    padding: 12px;
    font-size: 22px;
  }
  
  .edit-icon {
    margin-left: 15px;
    width: 24px;
    height: 24px;
  }
  
  .dropdown-section {
    margin-bottom: 30px;
    background-color: #084565;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
    width: 500px;
  }
  
  .dropdown-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 29px;
    font-size: 24px;
  }
  
  .section-icon {
    max-height: 50px;
    max-width: 45px;
    margin-right: 20px;
  }
  
  .arrow-icon {
    margin-left: auto;
    width: 50px;
    height: 50px;
  }
  
  .dropdown-content {
    padding: 20px;
  }
  
  .student-contact-info {
    width: 100%;
    position: relative;
    height: 80px;
    margin-bottom: 15px;
  }
  
  .student-contact-info-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 450px;
    height: 70px;
  }
  
  input[type="checkbox"] {
    margin-right: 15px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ffffff;
    margin: 20px 0;
  }
  
  .group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-color: #0b547c;
    border: 1px solid #099ace;
    box-sizing: border-box;
    width: 450px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .group-child p {
    font-size: 20px; 
}

  .group-child.selected {
    background-color: #128DCF;
  }
  
  .group-child:hover {
    background-color: #0e74a0;
  }
  
  .custom-checkbox {
    display: flex;
    align-items: center;
  }
  
  .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #0B547C;
    border: 3px solid #021E2C;
    border-radius: 4px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .custom-checkbox input:checked + .checkmark {
    background-color: #021E2C;
    background-image: url('@/assets/build-icons/checkmark.png');
    background-position: center;
    background-size: cover;
  }  